body{
    background: linear-gradient(to right, #c9def4, #f5ccd4, #b8a4c9);
    /* 
    background: linear-gradient(to right, #, #f5ccd4, #b8a4c9);
    background: linear-gradient(to right, #, #f5ccd4, #b8a4c9);
    background: linear-gradient(to right, #, #f5ccd4, #b8a4c9);
    background: linear-gradient(to right, #, #f5ccd4, #b8a4c9);
    background: linear-gradient(to right, #, #f5ccd4, #b8a4c9);
    background: linear-gradient(to right, #, #f5ccd4, #b8a4c9); 
    */
    /* background: linear-gradient(to right, #b398c5, #e88cb3, #edb175); */
    text-align: center;
    justify-content: center;
}
form{
    text-align: center;
    /* border: 2px solid black; */
    /* padding: 30px; */
    /* margin-bottom: 100px; */
    border-radius: 10px;
    background-color: rgb(245, 248, 248);
}

.bg-danger {
    background-color: #000000 !important;
    color: #ff6161;
    height: 200%;
}
.bg-success {
    background-color: #000000 !important;
    color:  #5dffb4 !important;
}