body{
    background: linear-gradient(to right, #c9def4, #f5ccd4, #b8a4c9);
    text-align: center;
    justify-content: center;
}
form{
    text-align: center;
    /* border: 2px solid black; */
    /* padding: 30px; */
    /* margin-bottom: 100px; */
    border-radius: 10px;
    background-color: rgb(245, 248, 248);
}

.bg-danger {
    background-color: #ff6161!important;
     color: #fafafa; 
    /* visibility: hidden; */
}
.bg-success {
    background-color: #5dffb4 !important;
    color:  #000000 !important;
    /* visibility: hidden; */
}
.card {
    background-color: rgba(255, 255, 255, 0);
}
textarea{
    width: 80%;
    height: 20vh;
}
input {
    width: 80%;
}

label{
    font-size: smaller;
    color: rgb(156, 154, 154);
}
form{
    background-color: white !important;
}
.card-body{
    background-color: white;
}
/* .carousel-item button{
    width: 40vw;
    height: 50vh;
    border: none;
} */